.proyect-txt {
  font-size: 20px;
  top: 10px;
  font-weight: 100;
}

.proyects-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  min-height: 100vh;
  margin-top: 100px;
}

.proyects-container .proyect {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.014);
  padding: 20px;
  border-radius: 50px;
}

.proyects-container .proyect .proyect-img1 {
  height: 300px;
  width: 300px;
  border-radius: 40px;
  background: url(../props/proyecto1.png);
  background-size: cover;
  background-position: center;
  border: 2px solid var(--color-sec-light);
}

.proyects-container .proyect .proyect-img2 {
  height: 300px;
  width: 300px;
  border-radius: 40px;
  background: url(../props/proyecto2.png);
  background-size: cover;
  background-position: center;
  border: 2px solid var(--color-sec-light);
}

.proyects-container .proyect .proyect-img3 {
  height: 300px;
  width: 300px;
  border-radius: 40px;
  background: url(../props/proyecto3.png);
  background-size: cover;
  background-position: center;
  border: 2px solid var(--color-sec-light);
}

.proyects-container .proyect .proyect-info {
  margin-left: 50px;
  font-family: "Open Sans";
  max-width: 50%;
}

.proyects-container .proyect .proyect-info .name {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
}

.proyects-container .proyect .proyect-info .position {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.proyects-container .proyect .proyect-info .about {
  margin-top: 40px;
  font-weight: 100;
  font-size: 17px;
}

.proyects-container .proyect .proyect-info .contact-member {
  background: var(--color-sec-light);
  padding: 17px 35px;
  font-size: 18px;
  margin-top: 30px;
  border-radius: 50px;
  position: absolute;
  transition: 0.1s ease;
}

.proyects-container .proyect .proyect-info .contact-member span {
  text-transform: capitalize;
}

.proyects-container .proyect .proyect-info .contact-member:hover {
  background: transparent;
  border: 2px solid var(--color-sec-light);
}

.about {
  letter-spacing: 2px;
}

@media (max-width: 375px) {
  .proyect-txt {
    display: none;
  }

  .proyects-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    min-height: 100vh;
    margin-top: 100px;
  }

  .proyects-container .proyect {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.014);
    padding: 20px;
    border-radius: 50px;
  }

  .proyects-container .proyect .proyect-img1 {
    height: 300px;
    width: 300px;
    border-radius: 40px;
    background: url(../props/proyecto1.png);
    background-size: cover;
    background-position: center;
    border: 2px solid var(--color-sec-light);
    margin-bottom: 20px;
    margin-left: -25px;
    margin-top: 170px;
  }

  .proyects-container .proyect .proyect-img2 {
    height: 300px;
    width: 300px;
    border-radius: 40px;
    background: url(../props/proyecto2.png);
    background-size: cover;
    background-position: center;
    border: 2px solid var(--color-sec-light);
    margin-top: 150px;
    margin-bottom: 20px;
    margin-left: -25px;
  }

  .proyects-container .proyect .proyect-img3 {
    height: 300px;
    width: 300px;
    border-radius: 40px;
    background: url(../props/proyecto3.png);
    background-size: cover;
    background-position: center;
    border: 2px solid var(--color-sec-light);
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: -25px;
  }

  .proyects-container .proyect .proyect-info {
    display: flex;
    margin-left: 50px;
    font-family: "Open Sans";
    max-width: 50%;
  }

  .proyects-container .proyect .proyect-info .name {
    display: none;
  }

  .proyects-container .proyect .proyect-info .position {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .proyects-container .proyect .proyect-info .about {
    position: absolute;
    display: flex;
    font-weight: 100;
    font-size: 14px;
    width: 95vw;
    margin-left: -100px;
  }

  .proyects-container .proyect .proyect-info .contact-member {
    display: none;
  }

  .proyects-container .proyect .proyect-info .contact-member span {
    text-transform: capitalize;
  }

  .proyects-container .proyect .proyect-info .contact-member:hover {
    background: transparent;
    border: 2px solid var(--color-sec-light);
  }

  .about {
    letter-spacing: 2px;
  }
}
