.about-container {
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  min-height: 80vh;
  width: 80vw;
  margin-top: -100px;
  margin-left: 50px;
  padding: 50px;
  overflow-x: hidden;
  backdrop-filter: blur(20px);
}

/*@media (min-width: 375px) {
  .about-container {
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    min-height: 80vh;
    width: 90vw;
    margin: 0;
    padding: 50px;
    overflow-x: hidden;
    backdrop-filter: blur(20px);
  }
}*/

@media (min-width: 412px) {
  .about-container {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 70vh;
    width: 90vw;
    margin: -8rem 5rem 20rem 1.5rem;
    padding: none;
    overflow-x: none;
    backdrop-filter: none;
  }
}

@media (min-width: 768px) {
  .about-container {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 70vh;
    width: 90vw;
    margin: -10rem 5rem 20rem 4rem;
    padding: none;
    overflow-x: none;
    backdrop-filter: none;
  }
}
