.about-container {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  min-height: 80vh;
  width: 80vw;
  margin: 100px;
  padding: 50px;
  overflow-x: hidden;
  backdrop-filter: blur(20px);
}
